:root{
    --purple: #6C63FF;
    --purple-light: #D7D4FF;
    --white: #FFFFFF;
    --gray: #555555;
    --white-200: #F9F9F9;
    --gray-dark: #2A2A2A;
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
    outline: none;
    scroll-behavior: smooth;
}
p , input, button, textarea {
    font-family: 'Lato', sans-serif;
    font-size: 19px;
}
body{
    box-sizing: border-box;
    background: var(--white-200);
}
.banner{
    padding: 100px;
    background-color: var(--purple-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.banner .contents{
    min-width: 277px;
}
.banner h1{
    font-weight: normal;
    font-size: 36px;
    line-height: 47px;
    margin-bottom: 17px;
}
.banner p{
    font-size: 19px;
    color: var(--gray);
}
.banner a {
    appearance: button;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--purple);
    color: var(--white);
    border: none;
    margin-top: 45px;
    width: 227px;
    height: 49px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.banner img{
    width: 100%;
}
.container-cards{
    padding: 100px;
    display: grid;
    place-items: center;
    margin-top: 50px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 30px;
}
.container-cards > .card:nth-child(1) > img{
    background-color: #ff6363
}
.container-cards > .card:nth-child(2) > img{
    background-color: #63ECFF
}
.container-cards > .card:nth-child(3) > img{
    background-color: #F363FF;
}
.container-cards > .card:nth-child(4) > img{
    background-color: #63FF73;
}
.container-cards > .card:nth-child(5) > img{
    background-color: #FFDD63;
}
.container-cards > .card:nth-child(6) > img{
    background-color: #6663FF;
}
.card{
    display: flex;
    flex-direction: column;
    max-width: 340px;
    width: 100%;
    min-width: 280px;
    box-shadow: 0px 0px 20px #0000005d;
}
.card .card-banner{
    width: 314px;
    height: 300px;
    background-color: rgba(255, 99, 99, 1);
    width: 100%;
}
.card img{
    object-fit: cover;
}
.card .contents{
    padding: 30px;
    min-height: 227px;
    background-color: #EBEBEE;
}
.card .contents h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.card .contents P{
    font-size: 18px;
    color: var(--gray);
}
section.form-contact{
    background-color: var(--purple-light);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
section.form-contact form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 5px 0 5px;
    width: 100%;
    min-width: 280px;
    max-width: 337px;
}
.form-contact form h1{
    display: flex;
    font-weight: lighter;
    justify-content: center;
    margin-bottom: 60px;
}
.form-contact :is(input,textarea, button){
    margin-bottom: 15px;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 20px 15px;
    resize: none;
}
.form-contact button{
    background-color: var(--purple);
    padding: 13px;
    color: var(--white);
}


@media  screen and (max-width: 1310px){
    .banner{
        padding: 20px;
    }
    .container-cards{
        
        grid-template-columns: repeat(2, 1fr);
    }
}
@media  screen and (max-width: 940px){
    .container-cards{
        padding: 20px;
    }
}
@media screen and (max-width: 817px) {
    .banner{
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .banner .contents{
        margin-bottom: 144px;
    }
    .card-banner {
        width: 100%;
    }
    .container-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    .form-contact input, textarea{
        padding: 10px;
    }
}